/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  	box-sizing:border-box; 
  	padding: 0;
	margin:0; 
	
}










/*******************************/
/* CUSTOM PROPERTIES light mode*/
/*******************************/
:root {
	/* Color light mode */
	--color-black: hsl(0deg 0% 0%);
	--color-white: hsl(60deg 6.67% 94.12%);
	--color-pure-white: hsl(0, 0%, 100%);
	--color-tan: hsl(30.41deg 48.34% 70.39%);
	--color-brown: hsl(28.7deg 38.98% 11.57%);
	--color-light-grey: hsl(0, 0%, 86%);
	--color-grey: hsl(0deg 0% 13.33%);
	
	/* Text Colors */
	--color-text-black: var(--color-black);
	--color-text-white: var(--color-white);
	--color-text-tan: var(--color-tan);
	--color-text-sale: var(--color-sale);

	/* Backgrounds */
	--color-bg-header: var(--color-black);

	/* Buttons */
	--color-button-bg-dark: var(--color-black);
	--color-button-text-dark-1: var(--color-tan);
	--color-button-text-dark-2: var(--color-white);

	--color-button-bg-light: var(--color-tan);
	--color-button-text-light: var(--color-black);

	/* Form */
	--color-input-bg: var(--color-pure-white);
	--color-input-border: var(--color-light-grey);
}  










/*******************************/
/* CUSTOM PROPERTIES dark mode*/
/*******************************/
@media (prefers-color-scheme: dark) {
	:root {
	/* Color darkmode mode */
		--color-black: hsl(0deg 0% 0%);
		--color-white: hsl(60, 2%, 71%);
		--color-pure-white: hsl(0, 0%, 86%);
		--color-tan: hsl(31, 16%, 52%);
		--color-brown: hsl(28.7deg 38.98% 11.57%);
		--color-light-grey: hsl(0, 0%, 56%);
		--color-grey: hsl(0, 0%, 1%);
		
		/* Text Colors */
		--color-text-black: var(--color-black);
		--color-text-white: var(--color-white);
		--color-text-tan: var(--color-tan);
		--color-text-sale: var(--color-sale);

		/* Backgrounds */
		--color-bg-header: var(--color-black);

		/* Buttons */
		--color-button-bg-dark: var(--color-black);
		--color-button-text-dark-1: var(--color-tan);
		--color-button-text-dark-2: var(--color-white);

		--color-button-bg-light: var(--color-tan);
		--color-button-text-light: var(--color-black);

		/* Form */
		--color-input-bg: var(--color-pure-white);
		--color-input-border: var(--color-light-grey);
	}
}









/****************/
/* algemeen*/
/****************/

/* jouw code */
body{
	padding: 0;
	margin:0;
}


img{
	max-width: 100px;
}

a{
	text-decoration: none;
	color: var(--color-black);
}
 
h1, h2{
	font-family: "Alice";
	font-weight: 400;
	font-style: normal;
}

p{
	font-family: "Work Sans";
}

.noscroll{
    overflow: hidden;
    height: 100vh;
}

@media (min-width:750px) {
  body{
	font-size: 24px;
  }  
}
@media (min-width:1000px) {
  
}
@media (min-width:2500px) {
  body{
	font-size: 30px;
  }  
}






/****************/
/* header */
/****************/
header{
	background-color: var(--color-bg-header);
	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	padding: 1em;
  	top: 0;
}

header button {
	background-color: var(--color-bg-header);
	border: none;
	order: -1;
}

header button img{
	width: 3em;
	height: 3em;
}

header a:nth-of-type(1) img{
	height: auto;
	min-width: 12em;
}

header a:nth-of-type(2) img{
	width: 1.5em;
	height: auto;
	margin-right: 0.5em;
}

header a{
	color: var(--color-text-white);
}










/****************/
/* Nav */
/****************/
header nav{
	background-color: var(--color-bg-header);
	position:fixed;
  	top: 4em;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	transform: translateX(-100%);
  	transition:0.3s;
	z-index: 100;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

header nav ul{
	padding-top: 7em;
}

header nav li{
	font-size: 2em;
	font-family: "Work Sans";
	padding:0.2em;
}

header nav.toonMenu {
 	transform: translateX(0);
  	transition:0.3s;
}

header nav > a {
	padding: 0.8em 2.5em;
	font-size: 1.5em;
	font-family: "Work Sans";
	color: var(--color-button-text-light);
	background-color: var(--color-button-bg-light);
	margin-top: 6em;
}










/****************/
/* product nav */
/****************/
main > nav{
	background-color: var(--color-tan);
	padding-top:0.25em;
	padding-bottom: 0.6em;
}

main > nav > ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

main > nav li{
	list-style: none;
	margin-top: 0.25em;
}

main > nav a{
	font-family: "Work Sans";
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
}

main > nav > ul li:last-child a{
	font-weight:bolder;
}










/****************/
/* Special product */
/****************/
main > section:nth-of-type(1)  {
	position: relative;
}

main > section:nth-of-type(1) img {
  min-width: 100%;
  height: auto;
  min-height: 384px;  /* optional */
  object-fit: cover;  /* keeps image nice */
  display: block;
}

main > section:nth-of-type(1) h2 {
  	position:absolute;
  	top: 15%;
	left: 42%;
  	padding: 1em 0.5em;
	font-size: 1.3em;
	color: var(--color-button-text-dark-2);
	background-color: var(--color-button-bg-dark);
	
}

main > section:nth-of-type(1) span {
  	position:absolute;
  	top: -0.5em;
  	right: 8.5em;
  	font-family: "Work Sans";
}

main > section:nth-of-type(1) a {
  	position:absolute;
  	top: 15%;
  	padding: 1em 2.2em;
	font-size: 1em;
	font-family: "Work Sans";
	color: var(--color-button-text-light);
	background-color: var(--color-button-bg-light);
	left: 42%;
	margin-left: 4em;
	margin-top: 5em;
}










/****************/
/* New in */
/****************/
main section:nth-of-type(2)  {
	background-color: var(--color-white);
	padding:2em;
}

main section:nth-of-type(2) ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

main section:nth-of-type(2) li {
	display: grid;
	grid-template-columns: 1fr;
	list-style: none;
}

main section:nth-of-type(2) a {
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;
}

main section:nth-of-type(2) img {
	object-fit: cover;
    min-width: 100%;
    height:auto;
    display: block;
}

main section:nth-of-type(2) span {
    position: absolute;
    top: 8px;
    right: 0;
    background: var(--color-grey);
    color: var(--color-text-white);
    padding: 4px 10px;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
	font-family: "Work Sans";
}

main section:nth-of-type(2) p {
    margin-top: 8px;
    font-size: 1em;
	margin-bottom: 1em;
}

main section:nth-of-type(2) h2 {
    text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
	margin-bottom: 1em;
	font-size: 2em;
}

@media (min-width:1000px) {
  	main section:nth-of-type(2) ul {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap:2em;
	}
}








/****************/
/* online exclusive */
/****************/
main section:nth-of-type(3)  {
	background-color: var(--color-brown);
	padding:2em;
}

main section:nth-of-type(3) ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

main section:nth-of-type(3) li {
	display: grid;
	grid-template-columns: 1fr;
	list-style: none;
}

main section:nth-of-type(3) a {
	color: var(--color-text-tan);
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;
}

main section:nth-of-type(3) img {
	object-fit: cover;
    min-width: 100%;
    height:auto;
    display: block;
}

main section:nth-of-type(3) span {
    position: absolute;
    top: 8px;
    right: 0;
    background: var(--color-grey);
    color: var(--color-text-white);
    padding: 4px 10px;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
	font-family: "Work Sans";
}

main section:nth-of-type(3) p {
    margin-top: 8px;
    font-size: 1em;
	margin-bottom: 1em;
	color: var(--color-text-white);
}

main section:nth-of-type(3) h2 {
	color: var(--color-text-tan);
    text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
	margin-bottom: 1em;
	font-size: 2em;
}

main section:nth-of-type(3) > p {
    text-decoration: underline;
	color: var(--color-text-tan);
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
	margin-bottom: 1em;
	font-size: 1.5em;
	font-family: "Alice";
	font-weight: 400;
    font-style: normal;
}

@media (min-width:1000px) {
  	main section:nth-of-type(3) ul {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap:2em;
	}
}









/*******************/
/* Want to see more*/
/*******************/
main section:nth-of-type(4)  {
	background-color: var(--color-tan);
	text-align: center;
	height:fit-content;
	padding:2em;
	padding-bottom: 3.5em;
}

main section:nth-of-type(4) h2{
	font-size: 2em;
	margin-bottom: 1.5em;
}

main section:nth-of-type(4) a{
	padding: 1.2em 2em;
	font-size: 1.2em;
	color: var(--color-button-text-dark-1);
	background-color: var(--color-button-bg-dark);
	font-family: "Work Sans";
}










/****************/
/* Socials */
/****************/
main div:nth-of-type(1) section  {
	background-color: var(--color-white);
	padding: 2em;
}

main div:nth-of-type(1) section > ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	gap:1em;
	justify-self: center;
	width: 100%;
}

main div:nth-of-type(1) section > ul li{
	display: block;
	object-fit: cover;
	min-width: 100%;
	min-height:100%
}

main div:nth-of-type(1) section > ul img{
	display: block;
	object-fit: cover;
	min-width: 100%;
	aspect-ratio: 1/1;
}

main div:nth-of-type(1) section nav ul{
	display: flex;
	justify-content: right;
	gap:1em;
	list-style: none;
}

main div:nth-of-type(1) section nav img{
	width: 1.5em;
}









/****************/
/* form */
/****************/
main div:nth-of-type(1) article  {
	background-color: var(--color-white);
	padding: 2em;
	padding-top: 3em;
	text-align: center;
}
main div:nth-of-type(1) article h2 {
	font-size: 1.8em;
	margin-bottom: 1em;
}
main div:nth-of-type(1) article p {
	font-size: 1.1em;
	margin-bottom: 2em;
}
main div:nth-of-type(1) article p:last-child{
	font-size: 0.9em;
	margin-bottom: 2em;
	line-height: 150%;
}
main div:nth-of-type(1) article form {
	text-align: left;
	width: 80%;
	margin: auto;
}
main div:nth-of-type(1) article  label{
	display: block;
	font-family: "Work Sans";
}
main div:nth-of-type(1) article input {
	background-color: var(--color-input-bg);
	width: 100%;
	font-size: 1em;
   	color: var(--color-black);
   	padding: 1.5em;
   	border: 0.1em var(--color-input-border) solid;
   	cursor: pointer;
}
main div:nth-of-type(1) article  button{
	display: block;
	padding: 1em 2em;
	font-size: 1.2em;
	font-family: "Work Sans";
	color: var(--color-button-text-dark-2);
	background-color: var(--color-button-bg-dark);
	margin:auto;
	margin: 2em auto;
	border: none;
}









/****************/
/* our matlock shop */
/****************/
main div:nth-of-type(2) article  {
	background-color: var(--color-black);
	display: flex;
	flex-direction: column;
	color: var(--color-tan);
	text-align: center;
	padding: 2em;
	justify-content: center;
}

main div:nth-of-type(2) article h2 {
	font-size: 2em;
	margin-bottom: 1em;
}

main div:nth-of-type(2) article a {
	padding: 0.8em 2.5em;
	font-size: 1em;
	font-family: "Work Sans";
	color: var(--color-button-text-light);
	background-color: var(--color-button-bg-light);
	margin:auto;
	display: block;
	width: 80%;
	margin-bottom: 1em;
}

main div:nth-of-type(2) article img {
	min-width: 13em;
	min-height: 15em;
	object-fit: cover;
	margin: auto;
 	border-radius: 50% 50% 0px 0px;
	display: block;
}

main div:nth-of-type(2) > img{
	min-width: 100vw;
	max-height: 30vh;
	margin: 0;
	padding:0;
	object-fit: cover;
	object-position: center;
	display: block;

}









/****************/
/* about us */
/****************/
main > article:last-of-type  {
	background-color: var(--color-tan);
	position: relative;
	padding: 2em 1.5em 8em 1.5em;
}

main > article:last-of-type h2 {
	font-size: 2em;
	margin: 1em 0em;
} 

main > article:last-of-type ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em
}

main > article:last-of-type li{
	list-style: none;
}

main > article:last-of-type li img{
	object-fit: cover;
	min-width: 100%;
	min-height:100%
}

main > article:last-of-type li:first-child{
	grid-column: 1;
    grid-row: 1 / 3;
}


main > article:last-of-type a{
	padding: 0.1em 2em;
	font-size: 1em;
	color: var(--color-button-text-dark-1);
	background-color: var(--color-button-bg-dark);
	font-family: "Work Sans";
	width: 10em;
	display: block;
	text-align: center;
	right: 1em;
	bottom: 3em;
	position: absolute;
}








/****************/
/* have a question */
/****************/
main section:nth-of-type(5)  {
	background-color: var(--color-brown);
	color:var(--color-text-tan);
	text-align: center;
	padding: 2em;
}

main section:nth-of-type(5) h2{
	font-size: 2em;
	margin-bottom: 0.5em;
}

main section:nth-of-type(5) p{
	color:var(--color-text-white);
}

main section:nth-of-type(5) a{
	text-decoration: underline;
	color:var(--color-text-tan);
}










/****************/
/* footer */
/****************/
footer{
	background-color: var(--color-black);
	padding: 2em
}

footer ul{
	display: flex;
	justify-content: center;
	gap:1em;

}

footer li img{
	width: 1.5em;
}

footer p{
	color: var(--color-text-tan);
	text-align: center;
	margin-top: 1em;
}








