/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  	box-sizing:border-box; 
  	padding: 0;
	margin:0; 
	
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text-black: hsl(0deg 0% 0%);
	--color-text-white: hsl(60deg 6.67% 94.12%);
	--color-text-tan: hsl(30.41deg 48.34% 70.39%);
	--color-text-sale: hsl(11.19deg 88.13% 57.06%);

	--clor-bg-header: hsl(0deg 0% 0%);

	--color-white: hsl(60deg 6.67% 94.12%);
	--color-black: hsl(0deg 0% 0%);
	--color-tan: hsl(30.41deg 48.34% 70.39%);
	--color-brown: hsl(28.7deg 38.98% 11.57%);
	--color-grey: hsl(0deg 0% 13.33%);

	--color-button-bg-dark: hsl(0deg 0% 0%);
	--color-button-text-dark-1: hsl(30.41deg 48.34% 70.39%);
	--color-button-text-dark-2: hsl(60deg 6.67% 94.12%);

	--color-button-bg-light: hsl(30.41deg 48.34% 70.39%);
	--color-button-text-light: hsl(0deg 0% 0%);


	--icon-close: url("/images/Icons/close.svg");  /*<a href="https://www.flaticon.com/free-icons/close" title="close icons">Close icons created by joalfa - Flaticon</a>*/
	--icon-menu: url("/images/Icons/settings.svg");  /*<a href="https://www.flaticon.com/free-icons/hamburger" title="hamburger icons">Hamburger icons created by HideMaru - Flaticon</a>*/
	--icon-cart: url("/images/Icons/grocery-store.svg");  /*<a href="https://www.flaticon.com/free-icons/retail" title="retail icons">Retail icons created by Frey Wazza - Flaticon</a>*/
	--icon-threads: url("/images/Icons/threads.svg");  /*<a href="https://www.flaticon.com/free-icons/threads" title="threads icons">Threads icons created by Freepik - Flaticon</a>*/
	--icon-facebook: url("/images/Icons/facebook-app-symbol.svg");  /*<a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons">Facebook icons created by Freepik - Flaticon</a>*/
	--icon-tiktok: url("/images/Icons/tik-tok.svg");  /*<a href="https://www.flaticon.com/free-icons/tik-tok" title="tik tok icons">Tik tok icons created by Freepik - Flaticon</a>*/
	--icon-insta: url("/images/Icons/instagram.svg");  /*<a href="https://www.flaticon.com/free-icons/instagram-logo" title="instagram logo icons">Instagram logo icons created by Freepik - Flaticon</a>*/
}  






/****************/
/* algemeen*/
/****************/

/* jouw code */
body{
	padding: 0;
	margin:0;
}


img{
	max-width: 100px;
}

a{
	text-decoration: none;
	color: var(--color-black);
}
 
h1, h2{
	font-family: "Alice";
	font-weight: 400;
	font-style: normal;
}

p{
	font-family: "Work Sans";
}




/****************/
/* header */
/****************/
Header{
	background-color: var(--clor-bg-header)
}







/****************/
/* Nav */
/****************/
Header nav{
	background-color: var(--clor-bg-header)
}





/****************/
/* product nav */
/****************/
main > nav{
	background-color: var(--color-tan);
	border-top: 5px solid hsl(30deg 30% 60%);;
	padding-top:0.25em;
	padding-bottom: 0.6em;
}

main > nav > ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

main > nav li{
	list-style: none;
	margin-top: 0.25em;
}

main > nav a{
	font-family: "Work Sans";
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
}

main > nav > ul li:last-child a{
	color: var(--color-text-sale);
	font-weight: bold;
}





/****************/
/* Special product */
/****************/
main section:nth-of-type(1)  {
	position: relative;
}

main section:nth-of-type(1) img {
  min-width: 100%;
  height: auto;
  min-height: 384px;  /* optional */
  object-fit: cover;  /* keeps image nice */
  display: block;
}






/****************/
/* New in */
/****************/
main section:nth-of-type(2)  {
	background-color: var(--color-white);
	padding:2em;
}

main section:nth-of-type(2) ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

main section:nth-of-type(2) li {
	display: grid;
	grid-template-columns: 1fr;
	list-style: none;
}

main section:nth-of-type(2) a {
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;
}

main section:nth-of-type(2) img {
	object-fit: cover;
    min-width: 100%;
    height:auto;
    display: block;
}

main section:nth-of-type(2) span {
    position: absolute;
    top: 8px;
    right: 0;
    background: var(--color-grey);
    color: var(--color-text-white);
    padding: 4px 10px;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
	font-family: "Work Sans";
}

main section:nth-of-type(2) p {
    margin-top: 8px;
    font-size: 1rem;
	margin-bottom: 1em;
}

main section:nth-of-type(2) h2 {
    text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
	margin-bottom: 1em;
	font-size: 2rem;
}





/****************/
/* online exclusive */
/****************/
main section:nth-of-type(3)  {
	background-color: var(--color-brown);
	padding:2em;
}

main section:nth-of-type(3) ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

main section:nth-of-type(3) li {
	display: grid;
	grid-template-columns: 1fr;
	list-style: none;
}

main section:nth-of-type(3) a {
	color: var(--color-text-tan);
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;
}

main section:nth-of-type(3) img {
	object-fit: cover;
    min-width: 100%;
    height:auto;
    display: block;
}

main section:nth-of-type(3) span {
    position: absolute;
    top: 8px;
    right: 0;
    background: var(--color-grey);
    color: var(--color-text-white);
    padding: 4px 10px;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
	font-family: "Work Sans";
}

main section:nth-of-type(3) p {
    margin-top: 8px;
    font-size: 1rem;
	margin-bottom: 1em;
	color: var(--color-text-white);
}

main section:nth-of-type(3) h2 {
	color: var(--color-text-tan);
    text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
	margin-bottom: 1em;
	font-size: 2rem;
}

main section:nth-of-type(3) > p {
    text-decoration: underline;
	color: var(--color-text-tan);
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
	margin-bottom: 1em;
	font-size: 1.5rem;
	font-family: "Alice";
	font-weight: 400;
    font-style: normal;
}





/****************/
/* Want more to see */
/****************/
main section:nth-of-type(4)  {
	background-color: var(--color-tan);
	
}





/****************/
/* Socials */
/****************/
main section:nth-of-type(5)  {
	background-color: var(--color-white);
	
}
main section:nth-of-type(6)  {
	background-color: var(--color-white);
	
}





/****************/
/* form */
/****************/
main article:nth-of-type(1)  {
	background-color: var(--color-white);
	
}





/****************/
/* our matlock shop */
/****************/
main article:nth-of-type(2)  {
	background-color: var(--color-black);
	
}





/****************/
/* about us */
/****************/
main article:nth-of-type(3)  {
	background-color: var(--color-tan);
	
}





/****************/
/* have a question */
/****************/
main section:nth-of-type(7)  {
	background-color: var(--color-brown);
	
}





/****************/
/* footer */
/****************/
footer{
	background-color: var(--color-black);
}



