/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  	box-sizing:border-box; 
  	padding: 0;
	margin:0; 
	
}










/*******************************/
/* CUSTOM PROPERTIES light mode*/
/*******************************/
:root {
	/* Color light mode */
	--color-black: hsl(0deg 0% 0%);
	--color-white: hsl(60deg 6.67% 94.12%);
	--color-pure-white: hsl(0, 0%, 100%);
	--color-tan: hsl(30.41deg 48.34% 70.39%);
	--color-brown: hsl(28.7deg 38.98% 11.57%);
	--color-light-grey: hsl(0, 0%, 86%);
	--color-grey: hsl(0deg 0% 13.33%);
	
	/* Text Colors */
	--color-text-black: var(--color-black);
	--color-text-white: var(--color-white);
	--color-text-tan: var(--color-tan);
	--color-text-sale: var(--color-sale);

	/* Backgrounds */
	--color-bg-header: var(--color-black);

	/* Buttons */
	--color-button-bg-dark: var(--color-black);
	--color-button-text-dark-1: var(--color-tan);
	--color-button-text-dark-2: var(--color-white);

	--color-button-bg-light: var(--color-tan);
	--color-button-text-light: var(--color-black);

	/* Form */
	--color-input-bg: var(--color-pure-white);
	--color-input-border: var(--color-light-grey);
}  










/*******************************/
/* CUSTOM PROPERTIES dark mode*/
/*******************************/
@media (prefers-color-scheme: dark) {
	:root {
	/* Color darkmode mode */
		--color-black: hsl(0deg 0% 0%);
		--color-white: hsl(60, 2%, 71%);
		--color-pure-white: hsl(0, 0%, 86%);
		--color-tan: hsl(31, 16%, 52%);
		--color-brown: hsl(28.7deg 38.98% 11.57%);
		--color-light-grey: hsl(0, 0%, 56%);
		--color-grey: hsl(0, 0%, 1%);
		
		/* Text Colors */
		--color-text-black: var(--color-black);
		--color-text-white: var(--color-white);
		--color-text-tan: var(--color-tan);
		--color-text-sale: var(--color-sale);

		/* Backgrounds */
		--color-bg-header: var(--color-black);

		/* Buttons */
		--color-button-bg-dark: var(--color-black);
		--color-button-text-dark-1: var(--color-tan);
		--color-button-text-dark-2: var(--color-white);

		--color-button-bg-light: var(--color-tan);
		--color-button-text-light: var(--color-black);

		/* Form */
		--color-input-bg: var(--color-pure-white);
		--color-input-border: var(--color-light-grey);
	}
}









/****************/
/* algemeen*/
/****************/

/* jouw code */
body{
	padding: 0;
	margin:0;
}


img{
	max-width: 100px;
}

a{
	text-decoration: none;
	color: var(--color-black);
}
 
h1, h2{
	font-family: "Alice";
	font-weight: 400;
	font-style: normal;
}

p{
	font-family: "Work Sans";
}

.noscroll{
    overflow: hidden;
    height: 100vh;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}

a:active {
    border: 10px solid var(--color-black)!important;
    background-color: var(--color-tan)!important;
    color: var(--color-black)!important;
}


@media (min-width:750px) {
  	body{
		font-size: 24px;
  	}  
}

@media (min-width:1000px) {
  	a:hover, a:focus {
		border: 16px solid var(--color-black)!important;
		background-color: var(--color-pure-white)!important;
		color: var(--color-black) !important;
		padding: 5px;
		transition: all 0.3s ease; /* smooth effect */
	}
	
	a:active {
		border: 10px solid var(--color-black)!important;
		background-color: var(--color-tan)!important;
		color: var(--color-black)!important;
	}
}

@media (min-width:2500px) {
  	body{
		font-size: 30px;
  	}  
}






/****************/
/* header */
/****************/
header{
	background-color: var(--color-bg-header);
	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	padding: 1em;
  	top: 0;
}

header button {
	background-color: var(--color-bg-header);
	border: none;
	order: -1;
	z-index: 110;
}

header button img{
	width: 3em;
	height: 3em;
	
}

header > a:nth-of-type(1){
	position: absolute;
  	left: -10000px;
  	top: auto;
  	width: 1px;
  	height: 1px;
 	overflow: hidden;
}

header >	 a:nth-of-type(1):focus{
	position: static;
	width: auto;
	height: auto;
}

header a:nth-of-type(2) img{
	height: auto;
	min-width: 12em;
}

header a:nth-of-type(3) img{
	width: 1.5em;
	height: auto;
	margin-right: 0.5em;
	background-color: inherit;
}

header a{
	color: var(--color-text-white);
}










/****************/
/* Nav */
/****************/
header nav{
	background-color: var(--color-bg-header);
	position:fixed;
  	top: 4.5em;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	transform: translateY(-150%);
  	transition:0.5s;
	z-index: 100;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

header nav li{
	font-size: 2em;
	font-family: "Work Sans";
	padding:0.2em;
}

header nav.toonMenu {
 	transform: translateY(0);
  	transition:0.3s;
}

@media (min-width:1000px) {
  	header > button {
    	display:none;
  	}
  
  	header nav {
    	position:static;
    	transform: none;
		color: var(--color-white);
  	}

	header button:hover {
		border: 16px solid var(--color-pure-white)!important;
	}

  	header nav ul {
    	display:flex;
    	gap:1em;
		list-style: none;
		padding: 0;
  	}

	header nav li{
		font-size: 1em;
	}
}









/****************/
/* product nav */
/****************/
.home > nav{
	background-color: var(--color-tan);
	padding-top:0.25em;
	padding-bottom: 0.6em;
}

.home > nav > ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.home > nav li{
	list-style: none;
	margin-top: 0.25em;
}

.home > nav a{
	font-family: "Work Sans";
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
}

.home > nav > ul li:last-child a{
	font-weight:bolder;
}










/****************/
/* Special product */
/****************/
.home > section:nth-of-type(1)  {
	position: relative;
}

.home > section:nth-of-type(1) img {
	min-width: 100%;
	height: auto;
	min-height: 384px;  /* optional */
	object-fit: cover;  /* keeps image nice */
	display: block;
}

.home > section:nth-of-type(1) h2 {
  	position:absolute;
  	top: 15%;
	left: 42%;
  	padding: 1em 0.5em;
	font-size: 1.3em;
	color: var(--color-button-text-dark-2);
	background-color: var(--color-button-bg-dark);
	
}

.home > section:nth-of-type(1) span {
  	position:absolute;
  	top: -0.5em;
  	right: 8.5em;
  	font-family: "Work Sans";
}

.home > section:nth-of-type(1) a {
  	position:absolute;
  	top: 15%;
  	padding: 1em 2.2em;
	font-size: 1em;
	font-family: "Work Sans";
	color: var(--color-button-text-light);
	background-color: var(--color-button-bg-light);
	left: 42%;
	margin-left: 4em;
	margin-top: 5em;
}

@media (min-width:2500px) {
	.home > section:nth-of-type(1) {
		font-size: 40px;
	}

	.home > section:nth-of-type(1) h2 {
		left: 60%;
	}

	.home > section:nth-of-type(1) a {
		left:65%
	}
}








/****************/
/* New in */
/****************/
.home section:nth-of-type(2)  {
	background-color: var(--color-white);
	padding:2em;
}

.home section:nth-of-type(2) ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.home section:nth-of-type(2) li {
	display: grid;
	grid-template-columns: 1fr;
	list-style: none;
}

.home section:nth-of-type(2) a {
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;
}

.home section:nth-of-type(2) img {
	object-fit: cover;
    min-width: 100%;
    height:auto;
    display: block;
}

.home section:nth-of-type(2) span {
    position: absolute;
    top: 8px;
    right: 0;
    background: var(--color-grey);
    color: var(--color-text-white);
    padding: 4px 10px;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
	font-family: "Work Sans";
}

.home section:nth-of-type(2) p {
    margin-top: 8px;
    font-size: 1em;
	margin-bottom: 1em;
}

.home section:nth-of-type(2) h2 {
    text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
	margin-bottom: 1em;
	font-size: 2em;
}

@media (min-width:1000px) {
  	.home section:nth-of-type(2) ul {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap:2em;
	}
}








/****************/
/* online exclusive */
/****************/
.home section:nth-of-type(3)  {
	background-color: var(--color-brown);
	padding:2em;
}

.home section:nth-of-type(3) ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.home section:nth-of-type(3) li {
	display: grid;
	grid-template-columns: 1fr;
	list-style: none;
	color: var(--color-text-white);
}

.home section:nth-of-type(3) a {
	color: var(--color-text-tan);
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;
	color: var(--color-text-white);
}

.home section:nth-of-type(3) img {
	object-fit: cover;
    min-width: 100%;
    height:auto;
    display: block;
}

.home section:nth-of-type(3) span {
    position: absolute;
    top: 8px;
    right: 0;
    background: var(--color-grey);
    color: var(--color-white);
    padding: 4px 10px;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
	font-family: "Work Sans";
}

.home section:nth-of-type(3) p {
    margin-top: 8px;
    font-size: 1em;
	margin-bottom: 1em;
	color: inherit;
}

.home section:nth-of-type(3) h2 {
	color: var(--color-text-tan);
    text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
	margin-bottom: 1em;
	font-size: 2em;
}

.home section:nth-of-type(3) > p {
    text-decoration: underline;
	color: var(--color-text-tan);
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
	margin-bottom: 1em;
	font-size: 1.5em;
	font-family: "Alice";
	font-weight: 400;
    font-style: normal;
}

@media (min-width:1000px) {
  	.home section:nth-of-type(3) ul {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap:2em;
	}
}









/*******************/
/* Want to see more*/
/*******************/
.home section:nth-of-type(4)  {
	background-color: var(--color-tan);
	text-align: center;
	height:fit-content;
	padding:2em;
	padding-bottom: 3.5em;
}

.home section:nth-of-type(4) h2{
	font-size: 2em;
	margin-bottom: 1.5em;
}

.home section:nth-of-type(4) a{
	padding: 1.2em 2em;
	font-size: 1.2em;
	color: var(--color-button-text-dark-1);
	background-color: var(--color-button-bg-dark);
	font-family: "Work Sans";
}










/****************/
/* Socials */
/****************/
.home div:nth-of-type(1) section  {
	background-color: var(--color-white);
	padding: 2em;
}
.home div:nth-of-type(1) section h2 {
	font-size: 2em;
	margin-bottom: 1.5em;
	text-align: center;
}

.home div:nth-of-type(1) section > ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	gap:1em;
	justify-self: center;
	width: 100%;
}

.home div:nth-of-type(1) section > ul li{
	display: block;
	object-fit: cover;
	min-width: 100%;
	min-height:100%
}

.home div:nth-of-type(1) section > ul img{
	display: block;
	object-fit: cover;
	min-width: 100%;
	aspect-ratio: 1/1;
}

.home div:nth-of-type(1) section nav ul{
	display: flex;
	justify-content: right;
	gap:1em;
	list-style: none;
}

.home div:nth-of-type(1) section nav img{
	width: 1.5em;
}

@media (min-width:1000px) {
  	.home > div:nth-of-type(1) {
		display: flex;
		flex-direction: row;
		width: 100%;
		align-items: center;
		background-color: var(--color-white);
	}

	.home div:nth-of-type(1) section,
	.home div:nth-of-type(1) article  {
		width: 50%;
	}

	.home div:nth-of-type(1) section > ul{
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.home div:nth-of-type(1) section > ul li a,
.home div:nth-of-type(1) section nav a{
	display: block;
}








/****************/
/* form */
/****************/
.home div:nth-of-type(1) article  {
	background-color: var(--color-white);
	padding: 2em;
	padding-top: 3em;
	text-align: center;
}

.home div:nth-of-type(1) article h2 {
	font-size: 1.8em;
	margin-bottom: 1em;
}

.home div:nth-of-type(1) article p {
	font-size: 1.1em;
	margin-bottom: 2em;
}

.home div:nth-of-type(1) article p:last-child{
	font-size: 0.9em;
	margin-bottom: 2em;
	line-height: 150%;
}

.home div:nth-of-type(1) article form {
	text-align: left;
	width: 80%;
	margin: auto;
}

.home div:nth-of-type(1) article  label{
	display: block;
	font-family: "Work Sans";
}

.home div:nth-of-type(1) article input {
	background-color: var(--color-input-bg);
	width: 100%;
	font-size: 1em;
   	color: var(--color-black);
   	padding: 1.5em;
   	border: 0.1em var(--color-input-border) solid;
   	cursor: pointer;
}

.home div:nth-of-type(1) article  button{
	display: block;
	padding: 1em 2em;
	font-size: 1.2em;
	font-family: "Work Sans";
	color: var(--color-button-text-dark-2);
	background-color: var(--color-button-bg-dark);
	margin:auto;
	margin: 2em auto;
	border: none;
}

.home div:nth-of-type(1) article button:hover,
.home div:nth-of-type(1) article button:focus{
	border: 16px solid var(--color-tan)!important;
}

.home div:nth-of-type(1) article input:hover,
.home div:nth-of-type(1) article input:focus{
	border: 16px solid var(--color-black)!important;
}








/****************/
/* our matlock shop */
/****************/
.home div:nth-of-type(2) article  {
	background-color: var(--color-black);
	display: flex;
	flex-direction: column;
	color: var(--color-tan);
	text-align: center;
	padding: 2em;
	justify-content: center;
}

.home div:nth-of-type(2) article h2 {
	font-size: 2em;
	margin-bottom: 1em;
}

.home div:nth-of-type(2) article a {
	padding: 0.8em 2.5em;
	font-size: 1em;
	font-family: "Work Sans";
	color: var(--color-button-text-light);
	background-color: var(--color-button-bg-light);
	margin:auto;
	display: block;
	width: 80%;
	margin-bottom: 1em;
}

.home div:nth-of-type(2) article img {
	min-width: 13em;
	min-height: 15em;
	object-fit: cover;
	margin: auto;
 	border-radius: 50% 50% 0px 0px;
	display: block;
}

.home div:nth-of-type(2) > img{
	min-width: 100vw;
	max-height: 30vh;
	margin: 0;
	padding:0;
	object-fit: cover;
	object-position: center;
	display: block;

}

@media (min-width:1000px) {
  	.home > div:nth-of-type(2) {
		display: flex;
		flex-direction: row;
		width: 100%;
		align-items: center;
		background-color: var(--color-black);
	}

	.home div:nth-of-type(2) > img  {
		max-width: 50vw;
		min-width: 50vw;
		min-height:max-content;
	}

	.home div:nth-of-type(2) article  {
		width: 50vw;
	}
}








/****************/
/* about us */
/****************/
.home > article:last-of-type  {
	background-color: var(--color-tan);
	position: relative;
	padding: 2em 1.5em 8em 1.5em;
}

.home > article:last-of-type h2 {
	font-size: 2em;
	margin: 1em 0em;
} 

.home > article:last-of-type ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em
}

.home > article:last-of-type li{
	list-style: none;
}

.home > article:last-of-type li img{
	object-fit: cover;
	min-width: 100%;
	min-height:100%
}

.home > article:last-of-type li:first-child{
	grid-column: 1;
    grid-row: 1 / 3;
}

.home > article:last-of-type a{
	padding: 0.1em 2em;
	font-size: 1em;
	color: var(--color-button-text-dark-1);
	background-color: var(--color-button-bg-dark);
	font-family: "Work Sans";
	width: 10em;
	display: block;
	text-align: center;
	right: 1em;
	bottom: 3em;
	position: absolute;
}

@media (min-width:1000px) {
  	.home > article:last-of-type  {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-evenly;
		width: 100%;
		align-items: center;
		background-color: var(--color-tan);
	}

	.home > article:last-of-type > div  {
		width: 40%;
	}

	.home > article:last-of-type > ul  {
		width: 40%;
	}

	.home > article:last-of-type a{
		margin-top: 2em;
        position: static;
	}
}






/****************/
/* have a question */
/****************/
.home section:nth-of-type(5)  {
	background-color: var(--color-brown);
	color:var(--color-text-tan);
	text-align: center;
	padding: 2em;
}

.home section:nth-of-type(5) h2{
	font-size: 2em;
	margin-bottom: 0.5em;
}

.home section:nth-of-type(5) p{
	color:var(--color-text-white);
}

.home section:nth-of-type(5) a{
	text-decoration: underline;
	color:var(--color-text-tan);
}










/****************/
/* footer */
/****************/
footer{
	background-color: var(--color-black);
	padding: 2em
}

footer ul{
	display: flex;
	justify-content: center;
	gap:1em;

}

footer li a{
	display: block;
}

footer li img{
	width: 1.5em;
}

footer p{
	color: var(--color-text-tan);
	text-align: center;
	margin-top: 1em;
}








/****************/
/* Matlock Shop */
/****************/
.matlock-shop{
	background-color: var(--color-white);
	text-align: center;
}

.matlock-shop > div:first-of-type{
	position: relative;
	background-color: var(--color-white);
	text-align: center;
}

.matlock-shop > div:first-of-type img {
	min-width: 100%;
	height: auto;
	max-height: 12em;  /* optional */
	object-fit: cover;  /* keeps image nice */
	display: block;
}

.matlock-shop > div:first-of-type h2 {
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	position: absolute;
	color: var(--color-text-white);
	backdrop-filter: blur(2px) saturate(0%);
	font-size: 1.5em;
}

@media (min-width:405px) {
  	.matlock-shop > div:first-of-type h2 {
		font-size: 2em;
	}
}

@media (min-width:750px) {
  	.matlock-shop > div:first-of-type h2 {
		font-size: 2.5em;
	}
}

@media (min-width:1200px) {
  	.matlock-shop > div:first-of-type h2 {
		font-size: 4em;
	}
}







.matlock-shop section{
	margin: 4em;
	display: grid;
	grid-template-columns: 1fr;
	list-style: none;
	gap:1em 4em;
	justify-self: center;
	width: 100%;
	padding: 3em 6em;
}

.matlock-shop section img{
	min-width: 100%;
	height: 12em;
	object-fit: cover;  
	display: block;
}

iframe{
	width: 100%;
	height: 100%;
}

@media (prefers-color-scheme: dark) {
	iframe{
		filter: invert(100%);
	}
}

.matlock-shop article p{
	padding-bottom: 1em;
}

.matlock-shop article div{
	display: flex;
	flex-direction: column;
	justify-content:space-around;
}

.matlock-shop article h2{
	padding-bottom: 2em;
}

@media (min-width: 800px) {
    .matlock-shop section {
        grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr auto 1fr;
        align-items: start;
    }

    .matlock-shop section article {
        grid-row: 1 / 4;
		grid-column: 2;
    }

	.matlock-shop section img{
		min-height: 100%;
	}

	.matlock-shop section > p{
		padding-bottom: 2em;
	}
}


@media (min-width: 1450px) {
	.matlock-shop article div{
		flex-direction: row;
	}
}







/****************/
/* Matlock Shop Div */
/****************/
.matlock-shop > div:last-of-type {
	background-color: var(--color-tan);
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	justify-content: center;
	padding: 4em 2em;
}

.matlock-shop > div:last-of-type img{
	min-width: 223px;
    height: 600px;
    object-fit: cover;
	flex-grow: 1;
    max-width: 400px; 
    flex: 1 1 223px;
}









/****************/
/* Snowflakes */
/****************/
/* Sneeuw animatie van code pen https://codepen.io/sadness97/pen/mdOXzNW */

@keyframes snowflakes-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}

@keyframes snowflakes-shake {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(80px);
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    user-select: none; /* gebruiker kan er niet mee interacteren*/
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out; /* snelheid gelijk / snelheid langzaam snel langzaam */
    animation-iteration-count: infinite, infinite; /* loop oneindig door */
    animation-play-state: running, running;  /* speelt de animatie af */
    filter: invert(100%);
}

.snowflake:nth-of-type(0) {
    left: 1%;
    animation-delay: 0s, 0s;
}

.snowflake:nth-of-type(1) {
    left: 10%;
    animation-delay: 1s, 1s;
}

.snowflake:nth-of-type(2) {
    left: 20%;
    animation-delay: 6s, .5s;
}

.snowflake:nth-of-type(3) {
    left: 30%;
    animation-delay: 4s, 2s;
}

.snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s, 2s;
}

.snowflake:nth-of-type(5) {
    left: 50%;
    animation-delay: 8s, 3s;
}

.snowflake:nth-of-type(6) {
    left: 60%;
    animation-delay: 6s, 2s;
}

.snowflake:nth-of-type(7) {
    left: 70%;
    animation-delay: 2.5s, 1s;
}

.snowflake:nth-of-type(8) {
    left: 80%;
    animation-delay: 1s, 0s;
}

.snowflake:nth-of-type(9) {
    left: 90%;
    animation-delay: 3s, 1.5s;
}
